#mainBox {
        margin-top:150px;
      }
      
      .hidden {
        display:none;
      }
      
      #emailGroupLog {
        margin-bottom: 39px;
      }
      
      #green {
        height:280px;
        width:100%;
        background:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6bba70+0,6bba70+100;Green+Flat+%234 */
background: rgb(107,186,112); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(107,186,112,1) 0%, rgba(107,186,112,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=1 ); /* IE6-9 */


        position:absolute;
        top:206px;
        left:0;
        z-index: -2;
      }
      #blue {
        height:280px;
        width:0;
        background:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#88bfe8+0,70b0e0+100;Blue+3D+%2317 */
background: rgb(136,191,232); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=1 ); /* IE6-9 */


        position:absolute;
        top:206px;
        left:0;
        z-index: -1;
        
      }
      
      .switches {
        margin-top: 30px;
      }
      
      .fixedPlacement {
        position:absolute;
        top: 30px;
        width:100%;
        text-align: center;
        
      }
  
      #passwordInput {
        
        margin-bottom: 56px;
      }
      
      .buttons {
        width: 100px;
      }
      